.section_article {
    padding-top: 96px;
    width: calc(100% - 30px);
    margin: 0 auto;
}


.title_article_main {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.title_article_sub {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    padding-top: 45px;
}



.article_img {
    margin-top: 15px;
    position: relative;
    width: 100%;
    height: 512px;
}

.article_photo_in_box {
    position: relative;
}

.article_img_in {
    margin-bottom: 30px;
}

.article_photo_in_box .img_in_text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 15px;
    padding-top: 10px;
    box-sizing: border-box;
}


.c130_img {
    background-image: url("../sub_news/img/dev/article_c130/c130e.jpg");
    background-position: center;
    background-size: cover;
}

.article_tob {
    margin-top: 45px;
}

.article_desc {
    margin-top: 60px;
}

.article_tob a {
    display: block;
}

.article_text {
    line-height: 160%;
}

.quick_tob {
    position: absolute;
    display: block;
    width: 130px;
    height: 160px;
    line-height: 25px;
    right: 15px;
    top: 0;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
}

.quick_tob .quick_tob_box {
    width: 120px;
    position: absolute;
    left: 150px;
    top: 30px;
    background-color: #f0ffff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 5px;
    overflow: hidden;
    transition: 0.3s;
}

.quick_tob .tob_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #f0ffff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    right: 0;
    top: 0;
}

.stick {
    width: calc(30px - 10px);
    position: absolute;
    left: 5px;  
    top: 0;
    transform-origin: 2px center;
    transition: 0.5s;
}

.stickTop {
    top: 4px;
    /* transform:rotate(17deg); */
}

.stickCenter {
    top: 12px;
}

.stickBottom {
    top: 20px;
    /* transform:rotate(-17deg); */
}

.quick_tob a p {
    color: #001d3b;
}

.quick_tob a:hover p {
    color: #89C4FF;
}

.quick_tob a.on p {
    color: #0080FF;
}

.small_text {
    font-size: 0.8rem;
}

@media all and (min-width:1269px) {
    .section_article {
        width: calc(1269px - 30px);
        margin: 0 auto;
    }
}