* {
    margin: 0;
    padding: 0;
}

/* common parts start */
body,
html {
    height: 100%;
}

.body {
    position: relative;
    font-size: 16px;
    background-color: #f0ffff;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    overflow: hidden;
}

.change_color_txt_title {
    color: #001d3b;
}

.change_color_txt {
    color: #001d3b;
}

.change_color_outline {
    border-color: #001d3b;
}

.text_const {
    color: #001d3b;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #001d3b;
}

img {
    width: 100%;
    display: block;
}

.title_big {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
}

.section_style {
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 75px;
}

.title_sub {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.title_news_more {
    margin-top: 75px;
}

.stb {
    font-size: 1.25rem;
    font-weight: 500;
    color: #f0ffff;
}

.title_bold {
    font-weight: 500;
}

.text_small {
    font-size: 0.9rem;
}

.text_desc {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.moreBtn {
    display: block;
    width: 155px;
    height: 50px;
    text-align: center;
    /* text-decoration: underline; */
    background-color: #00458A;
    color: #f0ffff;
    line-height: 50px;
    margin: 0 auto;
    font-size: 0.9rem;
}

.btn_top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    /* 120px */
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.btn_top>a {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #00458A;
    text-align: center;
    line-height: 45px;
    color: #f0ffff;
}

/* common part end */

.header {
    display: none;
}

.header .logo_img_pc {
    width: 175px;
    height: 50px;
    /* padding-top: 15px; */
    padding-left: 5px;
    box-sizing: border-box;
}

.header .logo_img_pc img {
    content: url('../img/logo_bright.png');
}

.header .gnb {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.header .gnb div {
    margin-right: 15px;
    font-size: 0.9rem;
}

.header .gnb .box_search {
    position: relative;
}

.header .gnb .btn_search {
    position: absolute;
    right: 3px;
    top: 7px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.header .gnb .btn_login {
    display: none;
}

.header .gnb .btn_register {
    display: none;
}

.header .gnb .btn_search i {
    color: #001d3b;
}

.header .gnb .btn_language_area {
    position: relative;
}

.header .gnb .btn_language_area .btn_language {
    display: block;
    width: 30px;
    height: 30px;
    content: url('../img/globe_bright.png');
    cursor: pointer;
}

.header .gnb .btn_language_area .box_language_pc {
    position: absolute;
    width: 100px;
    height: 0px;
    visibility: hidden;
    background-color: #f0ffff;
    border: 1px solid #001d3b;
    box-sizing: border-box;
    right: -15px;
    top: 30px;
    z-index: 1000;
    overflow: hidden;
    transition: 0.3s;
    padding-left: 5px;
}

.header .gnb .btn_language_area .box_language_pc>a {
    display: block;
    margin-bottom: 5px;
}

.header .gnb .btn_language_area .btn_language.pc_language_on~.box_language_pc {
    visibility: visible;
    height: 50px;
}

.lnb_outer {
    background-color: #001d3b;
}

.lnb_pc {
    display: none;
}

.menu_pc {
    width: 750px;
    display: flex;
}

.menu_pc>div {
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.menu_pc>div:hover {
    background-color: #0080FF;
}

.menu_pc_sub {
    background-color: #001d3b;
    width: 150px;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 999999;
    transition: 0.3s;
    overflow: hidden;
    height: 0;
}

.menu_pc>div:hover>.menu_pc_sub {
    height: 400%;
}


.menu_pc_sub>a {
    display: block;
    color: #f0ffff;
}

.menu_pc_sub>a:hover {
    color: #0080FF;
    /* text-decoration: underline; */
}

.lnb_profile {
    width: 200px;
    height: 60px;
    background-color: #00458A;
    box-sizing: border-box;
    padding-top: 15px;
}

.profile_img {
    width: 30px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.profile_text {
    color: #f0ffff;
    float: left;
}

.profile_btn_setting {
    display: block;
    width: 30px;
    float: right;
    transition: 1s;
    transform-origin: center;
    margin-right: 15px;
    cursor: pointer;
}

.profile_option_box {
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
    height: 0px;
    background-color: #00458A;
    z-index: 9999;
    color: #f0ffff;
    padding-left: 15px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.3s;
}

.profile_option_box>label {
    cursor: pointer;
}

.profile_setting_title {
    margin-bottom: 15px;
}

.profile_option_box>label {
    display: block;
}

.profile_option_box_m {
    position: absolute;
    right: 26px;
    top: 52px;
    width: 200px;
    height: 0px;
    background-color: #00458A;
    z-index: 9999;
    color: #f0ffff;
    padding-left: 15px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.3s;
}

.profile_option_box_m>label {
    cursor: pointer;
    display: block;
}

.profile_btn_setting:hover {
    rotate: 360deg;
}

.wing_menu_mobile .box_menu_m_center .language_m {
    cursor: pointer;
}

.wing_menu_mobile .box_menu_m_center .box_language_m {
    position: absolute;
    width: 100px;
    height: 0px;
    visibility: hidden;
    background-color: #0080FF;
    border: 1px solid #001d3b;
    box-sizing: border-box;
    right: -101px;
    top: 3px;
    z-index: 1000;
    overflow: hidden;
    transition: 0.3s;
    padding-left: 5px;
}

.box_language_m>a {
    display: block;
    margin-bottom: 5px;
}

.wing_menu_mobile .box_menu_m_center .language_m.m_language_on~.box_language_m {
    visibility: visible;
    height: 55px;
}




.header_mobile {
    background-color: #001d3b;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo_img {
    display: block;
    width: 125px;
    float: left;
    margin-left: 5px;
    /* margin-top: 12.5px; */
    margin-top: 7px;
}

label.btn_menu_mobile {
    width: 50px;
    display: block;
    float: right;
}

.img_btn_menu_mobile {
    content: url("../img/ham_bright.jpg");
    transition: 0.3s;
}


.btn_menu_mobile.mobile_btn_on .img_btn_menu_mobile {
    content: url("../img/ham_close_bright.jpg")
}

/* wing_menu_mobile start */
.wing_menu_mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    right: -101%;
    top: 50px;
    background-color: rgba(0, 29, 59, 0.9);
    transition: all 0.3s;
    padding-top: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    z-index: 999;
    overflow-y: scroll;
}

.wing_menu_mobile>div:not(:last-child) {
    width: 272px;
    height: 53px;
    background-color: #00458A;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 50px;
}

.wing_menu_mobile>div:last-child {
    width: 272px;
    color: #f0ffff;
}

.menu_mobile {
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
    margin-top: 15px;
}

.menu_mobile>a {
    margin-bottom: 15px;
    margin-left: 15px;
}

.wing_menu_mobile .box_menu_m_bottom a {
    display: block;
    /* width: 100%;
    height: 100%; */
    color: #f0ffff;
    font-size: 0.9rem;
}

.box_menu_m_top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box_menu_m_top_l,
.box_menu_m_top_r {
    display: flex;
    align-items: center;
}

.img_profile_m {
    width: 40px;
    padding-left: 8px;
    margin-right: 15px;
}

.text_profile_m {
    display: block;
    width: 99px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    color: #f0ffff;
    text-align: left;
}

.btn_mobile {
    width: 40px;
}

.btn_logout_m {
    padding-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.box_menu_m_center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.search_m {
    width: 136px;
}

.btn_search_m {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-style: none;
    background-color: #f0ffff;
    font-size: 1.2rem;
    cursor: pointer;

}

.btn_search_m i {
    color: #001d3b;
}

.btn_menu_m_common {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.btn_mobile_menu_open {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 30px;   
}

.btn_menu_forum_m {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_menu_forum_m p {
    font-weight: bold;
}

.btn_menu_forum_m i {
    font-size: 1rem;
    margin-right: 5px;
}

.menu_mobile_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu_mobile_title p {
    display: block;
    font-weight: bold;
}

.menu_mobile_title i {
    display: block;
    font-size: 1rem;
    transition: 0.3s;
    margin-right: 5px;
}

.wing_menu_mobile.mobile_menu_on {
    right: 0;
}

.wing_menu_mobile .box_menu_m_bottom .btn_menu_m_common.on {
    background-color: #0080FF;
}

.wing_menu_mobile .box_menu_m_bottom .btn_menu_m_common.on .menu_mobile_title i {
    rotate: 180deg;
}

.wing_menu_mobile .box_menu_m_bottom .btn_menu_m_common.on .menu_mobile {
    height: 155px;
}

.wing_menu_mobile .box_menu_m_bottom .btn_menu_m_common.on .menu_mobile_title>label {
    display: block;
}

.visual_banner_main {
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: calc(100% / 2);
    transform: translateY(-60%);
    font-size: 0;
    visibility: hidden;
}

.slick-prev {
    z-index: 10;
    left: 5px;
}

.slick-prev:after {
    content: "\f0a8";
    visibility: visible;
    font-size: 45px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #001d3b;
    cursor: pointer;
    transition: 0.3s;
}

.slick-prev:hover::after {
    color: #0080FF;
}

.slick-next {
    z-index: 10;
    right: 5px;
}

.slick-next:after {
    content: "\f0a9";
    visibility: visible;
    font-size: 45px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #001d3b;
    cursor: pointer;
    transition: 0.3s;
}

.slick-next:hover::after {
    color: #0080FF;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 0;
    border: none;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    transition: 0.3s;
}

.slick-dots li.slick-active button {
    font-size: 0;
    border: none;
    background-color: #001d3b;
    border-radius: 10px;
}

.visual_banner_main_wrap {
    position: relative;
    padding-top: 65px;
}

.visual_banner_main_wrap .slick_control {
    position: absolute;
    bottom: -3px;
    right: 15px;
}

.visual_banner_main_wrap .slick_control .btn_play {
    font-size: 0;
    visibility: hidden;
}

.btn_play:after {
    content: "\f04b";
    visibility: visible;
    font-size: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #001d3b;
}

.visual_banner_main_wrap .slick_control .btn_pause {
    font-size: 0;
    visibility: hidden;
}

.btn_pause:after {
    content: "\f04c";
    visibility: visible;
    font-size: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #001d3b;
}

.quick_cat_list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.quick_cat_list>a {
    width: calc((100% - 60px)/3);
}

.quick_cat_list>a:hover>img {
    border: 1px solid #0080FF;
    box-sizing: border-box;
}

/* .quick_cat_list>a:hover>p {
    color: #0080FF;
} */

.img_quick_cat {
    width: 100%;
    border-radius: 100%;
    /* margin-right: 20%; */
    border: 1px solid #001d3b;
    box-sizing: border-box;
}

.text_quick_cat {
    font-size: 1.5rem;
    /* text-decoration: underline; */
    text-align: center;
    color: #001d3b;
}

.popular_list>a {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #001d3b;
    box-sizing: border-box;
}

.img_popular {
    width: 30%;
    margin-right: 15px;
}

.news_latest_desc {
    margin-bottom: 15px;
}

.news_more_area {
    overflow: hidden;
    margin-bottom: 30px;
}

.news_more_area>a {
    display: block;
    float: left;
    width: calc(50% - 8px);
    margin-right: 15px;
    margin-bottom: 15px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}

.news_more_area>a:hover {
    border-color: #0080FF;
    color: #0080FF;
}

.news_more_area>a:hover .change_color_txt {
    color: #0080FF;
}

.news_more_area>a:nth-child(2),
.news_more_area>a:nth-child(4) {
    margin-right: 0;
}

.title_sub_news_more {
    width: calc(100% - 1px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 20px;
}

.footer_outer {
    background-color: #001d3b;
}

.footer {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_left {
    overflow: hidden;
    margin-left: 5px;
}

.footer_right {
    margin-right: 15px;
}

.footer_logo_img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    float: left;
}

.footer_copyright {
    width: calc(100% - 55px);
    color: #f0ffff;
    font-size: 0.9rem;
    float: left;
    padding-top: 15px;
}

.footer_sns_mobile {
    position: relative;
}

.footer_sns {
    display: none;
}

.btn_footer_mobile {
    display: block;
    width: 40px;
    height: 40px;
}

/* .btn_footer_mobile img {
    content: url("../img/btn_bottom_open_dark.png");
} */


.btn_footer_mobile_close {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
}


.footer_sns_list {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f0ffff;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 0.3s;
}

.footer_sns_list>a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    box-sizing: border-box;
    margin-right: 15px;
    float: left;
}

.footer_sns_list>a>img {
    height: 100%;
}

.sitemap_pc {
    color: #f0ffff;
    width: 120px;
    height: 25px;
    border: 1px solid #001d3b;
    box-sizing: border-box;
    font-size: 0.9rem;
    margin-right: 15px;
    position: relative;
    display: none;
}

.sitemap_list {
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 23px;
    width: 0px;
    height: 0px;
    background-color: #0080FF;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    transform-origin: bottom right;
}

.sitemap_list>div {
    float: left;
    color: #f0ffff;
    width: calc((600px - 20px) / 5);
}



.sitemap_list>div>a {
    display: block;
    color: #f0ffff;
}

.body .footer_outer .footer .footer_right .sitemap_pc .sitemap.sitemap_on~.sitemap_list  {
    visibility: visible;
    opacity: 1;
    width: 600px;
    height: 120px;
}


.body .footer_outer .footer .footer_sns_mobile .btn_footer_mobile.footer_mobile_on~.footer_sns_list {
    visibility: visible;
    opacity: 1;
    width: 260px;
}

/* tablet start */
@media all and (min-width:601px) {
    .quick_cat_list {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }

    .quick_cat_list>a {
        width: 33%;
        display: block;
        align-items: left;
        margin-bottom: 0;
    }

    .img_quick_cat {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 9px;
    }

    .popular_list {
        display: flex;
        justify-content: space-between;
    }

    .popular_list>a {
        width: calc((100% - 45px) / 4);
        display: block;
        margin-bottom: 0;
        border: 1px solid #001d3b;
        color: #001d3b;
        box-sizing: border-box;
    }

    .popular_list>a:hover {
        border-color: #0080FF;
        color: #0080FF;
    }

    .img_popular {
        width: 100%;
    }

    .text_desc {
        width: 80%;

    }

    .news_more_area>a {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    .news_more_area>a>img {
        width: 25%;
    }

    .box_news_more {
        width: 75%;
        margin-left: 15px;
    }

    .footer_right {
        margin-right: 5px;
        display: flex;
        align-items: center;
    }

    .footer_sns_mobile {
        display: none;
        position: relative;
    }

    .footer_sns {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .footer_sns>a {
        width: 30px;
        margin-right: 15px;
    }


    .footer_sns>a:last-child {
        margin-right: 0;
    }

    .wing_menu_mobile {
        width: 80%;
    }

    .text_popular {
        display: block;
        padding: 5px;
        box-sizing: border-box;
    }
}

/* tablet end */

/* pc start */
@media all and (min-width:1024px) {
    .header_mobile {
        display: none;
    }

    .header {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .lnb_pc {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .footer_right {
        margin-right: 15px;
    }

    .sitemap_pc {
        display: block;
    }

    .sitemap {
        cursor: pointer;
    }

    .visual_banner_main_wrap {
        position: relative;
        padding-top: 15px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;

    }

    .section_style {
        width: 100%;
    }

    .section_quick_cat {
        /* width: 627px; */
        width: 837px;
        margin: 0 auto;
        margin-top: 75px;
    }

    .img_quick_cat {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 9px;
    }

    .section_quick_cat .quick_cat_list {
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .wrap_content_main {
        width: calc(100% - 30px);
        margin: 0 auto;
        overflow: hidden;
    }

    .wrap_content_main .content_main_left,
    .wrap_content_main .content_main_right {
        width: calc((100% - 15px) / 2);
        float: left;
    }

    .wrap_content_main .content_main_left {
        margin-right: 15px;
    }

    .content_main_right .section_news_latest .news_more_area {
        margin-bottom: 0;
    }

}

/* pc end */

/* pc large size start */
@media all and (min-width:1269px) {

    .header,
    .lnb_pc,
    .footer,
    .wrap_content_main {
        width: 1269px;
        margin: 0 auto;
    }

    .visual_banner_main_wrap {
        width: 1269px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .lnb_outer,
    .footer_outer {
        width: 100%;
    }

}

/* pc large size end */

/* dark mode start*/
.body.mode_darkblue {
    background-color: #001d3b;
}

.body.mode_darkblue a {
    color: #f0ffff;
}

.body.mode_darkblue .logo_img_pc img {
    content: url('../img/logo_dark.png');
}

.body.mode_darkblue .header .gnb .btn_language_area .btn_language {
    content: url('../img/globe_dark.png');
}

.body.mode_darkblue .lnb_outer {
    background-color: #00458A;
}

.body.mode_darkblue .footer_outer {
    background-color: #00458A;
}

.body.mode_darkblue .menu_pc_sub {
    background-color: #00458A;

}

.body.mode_darkblue .slick-dots li button {
    background-color: #00458A;
}

.body.mode_darkblue .slick-dots li.slick-active button {
    background-color: #89C4FF;
}

.body.mode_darkblue .btn_play:after {
    color: #89C4FF;
}

.body.mode_darkblue .btn_pause:after {
    color: #89C4FF;
}

.body.mode_darkblue .change_color_txt {
    color: #89C4FF;
}

.body.mode_darkblue .change_color_txt_title {
    color: #f0ffff;
}

.body.mode_darkblue .popular_list>a {
    border: 1px solid #89C4FF;
    color: #89C4FF;
}

.body.mode_darkblue .popular_list>a:hover {
    border: 1px solid #0080FF;
    color: #0080FF;
}

.body.mode_darkblue .quick_cat_list>a>p {
    color: #89C4FF;
}

.body.mode_darkblue .quick_cat_list>a:hover>p {
    color: #0080FF;
}

.body.mode_darkblue .news_more_area>a.change_color_outline {
    border-color: #89C4FF;
}

.body.mode_darkblue .news_more_area>a:hover.change_color_outline {
    border-color: #0080FF;
}

.body.mode_darkblue .news_more_area>a:hover .change_color_txt {
    color: #0080FF;
}

/* dark mode end */

