
.modnews_img {
    background-image: url("../sub_news/img/banner_modnews.jpg");
    background-position: center;
    background-size: cover;
}

.devreport_img {
    background-image: url("../sub_news/img/banner_devreport.jpg");
    background-position: center;
    background-size: cover;
}

.gamenews_img {
    background-image: url("../sub_news/img/banner_gamenews.jpg");
    background-position: center;
    background-size: cover;
}

.miscnews_img {
    background-image: url("../sub_news/img/banner_miscnews.jpg");
    background-position: center;
    background-size: cover;
}




.section_news {
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 30px;
}

.box_news_options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.btn_news {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
}

.box_news {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.article {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.article .news_img {
    width: 40%;
}

.article .news_desc {
    width: 60%;
    padding-left: 15px;
    box-sizing: border-box;
}

.news_title {
    margin-bottom: 15px;
}

.news_title,
.news_date {
    display: block;
}

.news_date {
    font-size: 0.9rem;
}

.pagenation {
    width: 100%;
    height: 60px;
    border: 1px solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagenation a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.page_selected {
    background-color: #0080ff;
}

.body .section_news .box_news.style_grid {
    justify-content: space-between;
}

.body .section_news .box_news.style_grid .article {
    width: calc((100% - 15px) / 2);
    flex-wrap: wrap;
    align-items: normal;
}

.body .section_news .box_news.style_grid .article .news_img {
    width: 100%;
    margin-bottom: 15px;
}

.body .section_news .box_news.style_grid .article .news_desc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}

.body .section_news .box_news.style_grid .article .news_title {
    width: 100%;
}

.body .section_news .box_news.style_grid .article .news_date {
    width: 100%;
    margin-bottom: 15px;
}


.body .section_news .box_news.style_square {
    justify-content: space-between;
}

.body .section_news .box_news.style_square .article {
    width: 100%;
    flex-wrap: wrap;
    align-items: normal;
}

.body .section_news .box_news.style_square .article .news_img {
    width: 100%;
    margin-bottom: 15px;
}

.body .section_news .box_news.style_square .article .news_desc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}

.body .section_news .box_news.style_square .article .news_title {
    width: 100%;
}

.body .section_news .box_news.style_square .article .news_date {
    width: 100%;
    margin-bottom: 15px;
}

@media all and (min-width:601px) {
    /* #tab_news_style_list:checked~.section_news .box_news .article .news_desc {
        margin-left: 15px;
    } */
}

@media all and (min-width:1024px) {
    .body .section_news .box_news.style_list .article .news_desc {
        display: flex;
        flex-wrap: wrap;
    }

    .body .section_news .box_news.style_list .article .news_desc .news_title {
        width: 80%;
    }

    .body .section_news .box_news.style_list .article .news_desc .news_date {
        width: 20%;
        text-align: right;
        /* margin-right: 15px; */
        padding-right: 15px;
        box-sizing: border-box;
    }
}


@media all and (min-width:1269px) {
    .section_news {
        width: 1269px;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pagenation {
        width: 1269px;
        margin: 0 auto;
    }
}


.body.mode_darkblue .box_news>a {
    color: #89C4FF;
}

.body .box_news>a:hover {
    border-color: #0080ff;
    color: #0080ff;
}

.body.mode_darkblue .box_news>a:hover {
    border-color: #0080ff;
    color: #0080ff;
}